<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TPLab07_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E4D1941EBD972E002CD60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E4D1B11EBD972E002CD60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E4D1BC1EBD972F002CD60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
